Checks: 
    modernize-*
    clang-analyzer-*
    clang-diagnostics-*
    concurrency-*
    cppcoreguidelines-*
    hicpp-*
    llvm-*
    llvmlibc-*
    misc-*
    performance-*
    portability-*
    readability-*
