Checks:
  modernize-*
  clang-analyzer-*
  clang-diagnostics-*
  concurrency-*
  cppcoreguidelines-*
  -cppcoreguidelines-non-private-member-variables-in-classes
  -modernize-use-trailing-return-type
  cert-*
  bugprone-*
  hicpp-*
  llvm-*
  misc-*
  performance-*
  portability-*
  readability-*
  -readability-braces-around-statements
  -hicpp-braces-around-statements