BasedOnStyle: LLVM
IndentWidth: 4
AlignAfterBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakAfterReturnType: AllDefinitions
AlwaysBreakBeforeMultilineStrings: false
BinPackParameters: true
BreakBeforeBinaryOperators: true
BitFieldColonSpacing: After
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  SplitEmptyFunction: false
  AfterClass: true
  AfterControlStatement: false
  AfterCaseLabel: false
  AfterNamespace: false
  AfterFunction: false
  AfterExternBlock: false
  AfterCatch: false
  AfterUnion: false
  AfterDo: false
  AfterElse: false
  AfterTry: false
  AfterFinally: false
  AfterWhile: false
  AfterFor: false
  AfterIf: false
  BeforeCatch: true
  BeforeElse: true
  BeforeFinally: true
  BeforeLambdaBody: false
  IndentBraces: true

Cpp11BracedListStyle: true
FixNamespaceComments: true
IncludeBlocks: Regroup
IndentCaseLabels: true
IndentExternBlock: Indent
InsertBraces: false
NamespaceIndentation: All
Standard: latest
UseTab: Always
UseTabIndentation: true
